
@import url('https://fonts.googleapis.com/css2?family=Bona+Nova:ital,wght@0,400;0,700;1,400&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

body {
  font-family: sans-serif;
}

.mainContainer{
    width: 100vw;
    height: 100%;
}

 .wrapper{
    width: 100%;
    margin: 0 auto;
    height: 100%;
} 

.checkEmailContainer{
    /* height: 90vh; */
    width: 100%;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    justify-content: flex-start;
    align-items:center;
    /* margin-top: 3rem; */
    background-color: #f76463;
}

.checkEmailContainer h1{
    font-size: 4rem;
    color: white;
}

.checkEmailContainer p{
    font-size: 2rem;
    font-weight: 500;
    color: white;
}

.inputContainer{
    display: flex;
}

.checkEmailContainer input{
    border: none;
    outline: none;
    background-color: white;
    padding: 1.2rem;
    width: 500px;
    border-radius: 10px 0px 0px 10px;
}

.checkEmailContainer button{
    color:white;
    width: 100px;
    background-color: black;
    border: none;
    outline: none;
    font-size: 1rem;
    border-radius: 0px 10px 10px 0px;
    cursor: pointer;
}





