
@import url('https://fonts.googleapis.com/css2?family=Bona+Nova:ital,wght@0,400;0,700;1,400&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

body {
  font-family: sans-serif;
}

.navbar {
  width: 100%;
  height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: red; */
  /* position: fixed; */
  padding: 0px 40px;
  overflow-y: hidden;
  /* background-color: red; */
}

a{
  text-decoration: none;
  color: black;
}

.logoContainer {
  width: 120px;
}

.logoContainer img {
  width: 100%;
  /* margin-top: 20px; */
}

.navInfo ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  gap: 1.5rem;
}

.navInfo ul li a{
  font-size: 1.1rem;
  text-transform: uppercase;
  font-weight: 800;
  cursor: pointer;
}

.navInfo ul li a:hover {
  color: #f76463;
}

.navLinks ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  gap: 1.5rem;
}

.navLinks ul li {
  font-weight: 800;
  font-size: 1.1rem;
  text-transform: uppercase;
  cursor: pointer;
}

.navLinks ul li:hover {
  color: #f76463;
}

.button {
  font-size: 0.8rem;
  padding: 10px 10px;
  font-weight: 600;
  background-color: #f76463;
  border: none;
  outline: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  transition: 0.3s ease;
  /* overflow-y: hidden; */
  /* overflow-x: hidden; */
}

.button a{
  color:white;
}

.button:hover {
  scale: 0.9;
}


.mainContainer{
    width: 100vw;
    height: 100%;
}

 .wrapper{
    width: 100%;
    margin: 0 auto;
    height: 100%;
} 

.checkEmailContainer{
    /* height: 90vh; */
    width: 100%;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    justify-content: flex-start;
    align-items:center;
    /* margin-top: 3rem; */
    background-color: #f76463;
}

.checkEmailContainer h1{
    font-size: 4rem;
    color: white;
}

.checkEmailContainer p{
    font-size: 2rem;
    font-weight: 500;
    color: white;
}

.inputContainer{
    display: flex;
}

.checkEmailContainer input{
    border: none;
    outline: none;
    background-color: white;
    padding: 1.2rem;
    width: 500px;
    border-radius: 10px 0px 0px 10px;
}

.checkEmailContainer button{
    color:white;
    width: 100px;
    background-color: black;
    border: none;
    outline: none;
    font-size: 1rem;
    border-radius: 0px 10px 10px 0px;
    cursor: pointer;
}





