@import url('https://fonts.googleapis.com/css2?family=Bona+Nova:ital,wght@0,400;0,700;1,400&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

body {
  font-family: sans-serif;
}

.navbar {
  width: 100%;
  height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: red; */
  /* position: fixed; */
  padding: 0px 40px;
  overflow-y: hidden;
  /* background-color: red; */
}

a{
  text-decoration: none;
  color: black;
}

.logoContainer {
  width: 120px;
}

.logoContainer img {
  width: 100%;
  /* margin-top: 20px; */
}

.navInfo ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  gap: 5rem;
}

.navInfo ul li a{
  font-size: 0.8rem;
  text-transform: uppercase;
  font-weight: 800;
  cursor: pointer;
}

.navInfo ul li a:hover {
  color: #f76463;
}

.navLinks ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  gap: 1.5rem;
}

.navLinks ul li {
  font-weight: 600;
  font-size: 1.1rem;
  text-transform: uppercase;
  cursor: pointer;
}

.navLinks ul li:hover {
  color: #f76463;
}

.button {
  font-size: 0.8rem;
  padding: 10px 10px;
  font-weight: 600;
  background-color: #f76463;
  border: none;
  outline: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  transition: 0.3s ease;
  /* overflow-y: hidden; */
  /* overflow-x: hidden; */
}

.button a{
  color:white;
}

.button:hover {
  scale: 0.9;
}

/* hero section */
.heroContainer {
  width: 100vw;
  overflow-x: hidden;
}

.wrapper {
  width: 1200px;
  height: 70vh;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow-y: hidden;
}

.leftHeroSection {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* margin-left: 20px; */
  gap: 2rem;
  padding: 15px;
  width: 70%;
  margin-right: ;
}

.leftHeroSection h1 {
  font-size: 4rem;
}
.leftHeroSection h3{
  font-size: 2rem;
  font-weight: 600;
}
.leftHeroSection h3 span{
  color:#f76463;
}

.leftHeroSection h1 span {
  color: #ff322e;
  font-weight: 500;
}

.leftHeroSection p {
  font-size: 1.3rem;
  font-weight: 500;
  
}

.trySection {
  /* margin-top: 10px; */
  display: flex;
  gap: 1rem;
  overflow-y: hidden;
}

.freeBtn {
  font-size: 1rem;
  width: 130px;
  padding: 15px;
  cursor: pointer;
  /* font-size: 0.9rem; */
}

.freeBtn::before {
  content: "";
  background-color: white;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  transform: scaleX(0);
  transform-origin: left;
  transition: all 0.8s;
}

.freeBtn:hover::before {
  transform: scaleX(1);
}

.freeBtn:hover {
  color: black;
  border: 2px solid black;
}

.worksBtn {
  font-size: 0.9rem;
  background-color: white;
  color: black;
  border: 1px solid #f76463;
  padding: 15px;
}

.rightHeroSection {
  width: 50%;
}

.rightHeroSection img {
  width: 100%;
}

.complaintContainer {
  background-color: #f76463;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 300px;
  gap: 1.4rem;
  
}

.complaintContainer h1 {
  font-size: 3rem;
  color: white;
  overflow-y: hidden;
}

.complaintContainer p {
  font-size: 2rem;
  color: white;
  overflow-y: hidden;
}

.complaintContainer button {
  border: none;
  outline: none;
  padding: 15px 35px;
  color: white;
  font-size: 1rem;
  font-weight: 500;
  border-radius: 10px;
  background-color: black;
  transition: 0.4s ease-in-out;
  cursor: pointer;
  overflow-y: hidden;
}

.complaintContainer button:hover {
  scale: 0.9;
}


.whyContainer{
  margin-top: 40px;
  padding: 20px;
}
.whyContainer span{
  color: #f76463;
}

.heading{
  font-size:3.2rem;
  text-align: center;
  margin-bottom: 20px;
  font-weight: 550;
}

.whyReasonsContainer{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 2rem;
  align-items:normal;
  
}

.reason{
  margin-top: 40px;
  width: 20%;
  margin-bottom: 20px;
  text-align: center;
  background-color: #f76463;
  border-radius: 30px 0px 10px 0px;
  padding: 10px 20px 10px 20px;
}

.reason p{
  margin-top: 15px;
  font-size: 1.3rem;
  font-weight: 600;
  text-align:center;
  color: white;
}

.faqs{
  font-weight: 800;
}


/* blog */
#page-header{
  width: 100%;
  height: 40vh;
  background-image: url(img/banner/b1.jpg);
  background-size: cover;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}

#page-header h2,
#page-header p{
  color: white;
}

#page-header.blog-header{
  background-image: url(img/banner/b19.jpg);
}




/*CHECK YOUR URL SECTION*/

.hero_section_url{
  padding: 0;
}
.linkSection{
  padding: 0;
}

.container_url{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: bisque;
  height: 70%;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}
.container_url .left{
  width: 50%;
}
.container_url .left h1{
  padding-bottom: 1.5rem;
  padding-left: 10rem;
  font-size: 5rem;
}
.container_url .left span{
  color: #ff322e;
}
.container_url .left button{
  font-size: 1.5rem;
  margin-left: 25rem;
  margin-top: 4rem;
  background-color:transparent;
  padding: 5px 5px;
  border: solid black;
  border-radius: 10px 10px 10px 10px;
  cursor: pointer;
}
.container_url .left button:hover{
  color:aliceblue;
  background-color: #ff322e;
}
.container_url .left p{
  padding-left: 10rem;
  padding-right: 5rem;
  font-weight: 600;
  font-size: large;
}
.container_url .right{
  width: 50%;
  justify-content: center;
  align-items: center;
}
.container_url .right img{
  height: 500px;
  width: auto;
  padding-left: 7rem;
}

.container_link{
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  background-color: #f76463;
  height: 500px;
  
}

.container_link h1{
  font-size: 4rem;
  color: white;
}

.container_link p{
  font-size: 2rem;
}

.container_link_wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
}

.container_link input{
  padding: 0.6rem 2rem;
  border: none;
  width: 500px;
  background-color: aliceblue;
  outline: none;
  border-radius: 10px 0px 0px 10px;
}

#checkbutton_url{
  color:white;
    width: 120px;
    height: 35px;
    background-color: black;
    border: none;
    outline: none;
    font-size: 1rem;
    border-radius: 0px 10px 10px 0px;
    cursor: pointer;
}

/*CHECK YOUR URL SECTION*/

/*Resources*/
.resources_section{
  padding-top: 0;
}

.resources_container{
  overflow-x: hidden;
padding-top: 0px;
}
.resources_container h1{
  text-align: center;
  margin-bottom: 30px;
  
  font-family: sans-serif;
  font-size: 60px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f76463;
}

 .card_container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  padding: 0 80px;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 30px;
 }
 .card{
  display: flex;
  justify-content: center;
  flex-direction: column;
  /* width: 400px; */
  width: 80%;
  padding: 40px 50px 20px 50px;
  border-radius: 20px;
   background-color:#eeecec; 
  margin-bottom: 40px;
  gap: 20px;
   
 }
 .card h2{
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
 }

 .card img{
  border-radius: 20px;
  overflow: hidden;
 }
 .card_content p{
  text-align: left;
  margin: 5px;
  line-height: 22px;
  font-weight: 500;
 }
 .card_content {
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* height: 100%; */
 }
.card_content a{
  color: #E1E1E1;
  background-color: #f76463;
  border-radius: 10px 10px 10px 10px;
  padding: 2px 8px 2px 8px;
  
}
/*Resources*/



/* Join our community */

.communitySection{
  margin-bottom: 3rem;
  margin-top: -2rem;
}
.wrapper{
  display: flex;
  justify-content: center;
  height: 55vh;
}
.communityContainer{
  display: flex;
  justify-content: center;
  align-items: baseline;
  overflow-y: hidden;
  gap: 3rem;
  margin-top: -4rem;
  /* margin-bottom: 2rem; */
}

.communityLeftContainer{
display: flex;
width: 40%;
justify-content: center;
align-items: flex-start;
flex-direction: column;
}

.communityLeftContainer h1{
  font-size: 3.5rem;
  font-weight: 600;
}

.communityLeftContainer span{
  color:#ff322e;
}
.communityLeftContainer p{
  font-size: 1.3rem;
}

.communityContainer button{
  /* width: 4rem; */
  padding: 10px 40px;
  font-size: 1.5rem;
}

.communityRightContainer{
  width: 450px;

}

.communityRightContainer img{
  width: 100%;
}